<div class="row profile">
  <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l3">
    <h1 class="profile-h1"><%= @user.username %></h1>
    <h3 class="profile-h3">Create Post</h3>
    <form action="/profile" method="post">
      <input type="text" name="title" id="profile_title" placeholder="Title" required>
      <input type="text" name="content" id="profile_content" placeholder="Write Post Here" required>
      <input id="profile-btn" type="submit" value="Go">
    </form>
    <% @user.posts.all.reverse.each do |post| %>
      <div class="card horizontal valign-wrapper">
        <div class="card-image hide-on-small-only">
          <% if @user.image_url %>
            <img src="<%= @user.image_url %>">
          <% end %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3><i class="material-icons post-icon">title :</i><%= post.title %></h3>
            <h4><i class="material-icons post-icon">account_circle :</i><a class="username-link" href="/user-profile/<%= post.user.id %>"><%= @user.username %></a></h4>
            <h5><i class="material-icons post-icon">message :</i><%= post.content %></h5>
          <% if session[:user_id] == post.user_id %>
            <h6><i class="material-icons post-icon">close :</i><a class="username-link" href="/delete-post/<%= post.id %>">Delete post</a></h6>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

